@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>52Abp学校</h1>

    <div class="row">
        <div class="col-md-4">
            <h2>欢迎大家来到52Abp实战</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>欢迎大家来52Abp学校</h2>

        <p>
            本次教程会使用.NET CORE及EF CORE作为核心技术。
        </p>
    </div>
    <div class="col-md-4">
        <h2>从0开始</h2>
        <p>一步步来</p>
    </div>
    <div class="col-md-4">
        <h2>如何下载</h2>
        <p>所有课程原地啊吗GitHub下载</p>
        <p>地址：</p>
    </div>
</div>
